function OAS_RICH(position) {
if (position == 'x62') {
document.write ('{"type":"carrouselHome","template":"","items":[{"productId":"112177513","image":"","url":""},{"productId":"121846096","image":"","url":""}],"position":"x62"}\n');
}
if (position == 'x63') {
document.write ('<a href="http://oas.soubarato.com.br/RealMedia/ads/click_lx.ads/soubarato/HomeSoubarato_v2/mobile/61433500/x63/default/empty.gif/5252385654315654314351414357766f" target="_top"><img src="http://oas.soubarato.com.br/RealMedia/ads/Creatives/default/empty.gif"  width="1" height="1" alt="" BORDER=0 border="0"></a>');
}
if (position == 'x64') {
document.write ('<a href="http://oas.soubarato.com.br/RealMedia/ads/click_lx.ads/soubarato/HomeSoubarato_v2/mobile/27519214/x64/default/empty.gif/5252385654315654314351414357766f" target="_top"><img src="http://oas.soubarato.com.br/RealMedia/ads/Creatives/default/empty.gif"  width="1" height="1" alt="" BORDER=0 border="0"></a>');
}
}
